@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orelega+One&family=Oswald:wght@500&display=swap');
body{
    margin: 0;
    font-family: 'Oswald', sans-serif;

}
.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgb(145, 146, 151);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card-login{
    width: 500px;
    height: 260px;
    display: flex;
    background: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.card-login > h1{
    width: -200%;
    color: gray;
    font-weight: 50;
    font-size: 25px;
    margin: 0%;
}
.textfield{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}



.textfield>input{
    width: 110%;
    height: 150%;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #d3d3d3;
}
.bnt-forgt{
    color: gray;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
}
.bnt-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background: red;
    color: white;
    padding: auto;
    margin: 15px;
    border-radius: 15px;
    width: 95%;
    cursor: pointer;
    box-shadow: 10px  rgb(228, 20, 20);

}